STT fix chat.yml
app:
  description: a chat verson
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: STT fix chat
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1717330658276-true-1717330709963-target
      source: '1717330658276'
      sourceHandle: 'true'
      target: '1717330709963'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1717330658276-false-1717330794954-target
      source: '1717330658276'
      sourceHandle: 'false'
      target: '1717330794954'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1717330794954-source-1717330905521-target
      source: '1717330794954'
      sourceHandle: source
      target: '1717330905521'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1717330709963-source-1717330905521-target
      source: '1717330709963'
      sourceHandle: source
      target: '1717330905521'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: code
      id: 1717330905521-source-1717390151934-target
      source: '1717330905521'
      sourceHandle: source
      target: '1717390151934'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1717390151934-source-1717330917492-target
      source: '1717390151934'
      sourceHandle: source
      target: '1717330917492'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1717330357384-source-1717330658276-target
      source: '1717330357384'
      sourceHandle: source
      target: '1717330658276'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: format
          max_length: 48
          options:
          - ex original
          - ex refine
          required: true
          type: select
          variable: format
        - label: 'Optional example or note:'
          max_length: 33024
          options: []
          required: false
          type: paragraph
          variable: memory_context
        - label: topic
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: topic
      height: 142
      id: '1717330357384'
      position:
        x: 30
        y: 271
      positionAbsolute:
        x: 30
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        conditions:
        - comparison_operator: is
          id: '1717330662974'
          value: ex refine
          variable_selector:
          - '1717330357384'
          - format
        desc: ''
        logical_operator: and
        selected: false
        title: refine or fix
        type: if-else
      height: 126
      id: '1717330658276'
      position:
        x: 334
        y: 271
      positionAbsolute:
        x: 334
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gemini-1.5-pro-latest
          provider: google
        prompt_template:
        - id: d15cd8a4-e15f-40ff-b366-6678d805abb1
          role: system
          text: "You will receive a text generated by Whisper or a similar speech-to-text\
            \ AI from the role of user. There may be errors where words' pronunciation\
            \ correct but are incorrectly transcribed, or the text may go off-topic.\n\
            \n**Your task is to:**\n1. Correct any incorrect words or phrases while\
            \ maintaining the original sentence structure and overall flow of the\
            \ text.\n2. Preserve the original language of the text.\n3. For professional\
            \ terms, add their English annotations (in parentheses).\n4. Optimize\
            \ into common notes format instead of the original\n5. Use typography\
            \ for more user friendly and good looking\n6. Add structured such as list\
            \ or bullet for the necessary content\n7. Connect two line of text together\
            \ if need since the line break are mostly base one time instead of real\
            \ text context tradition\n8. Add punctuation where normally needed\n9.\
            \ Use the original sentence\n10. You only need to output one result.\n\
            \n**Example**\n**User:\"**\n\"01:26 \u628A\u8FD9\u4E2A\u547D\u8FD0\u4F5C\
            \u4E3A\u4E00\u79CD\u5267\u672C\\n01:29 \u914D\u5408\u7740\u4ED6\u6F14\\\
            n01:31 \u90A3\u4E48\u987A\u98CE\u6765\u4E86\u5C31\u628A\u8239\u7FFB\u5F20\
            \u5230\u6700\u5927\\n01:37 \u9006\u98CE\u6765\u4E86\u5C31\u8EBA\u5E73\\\
            n01:40 \u97EC\u5149\u517B\u6666\\n01:42 \u4F3C\u4E4E\u8FD9\u662F\u4E00\
            \u4E2A\u5F88\u4E0D\u9519\u7684\u5E94\u5BF9\u5267\u672C\u7684\u7B56\u7565\
            \"\n**You:**\n\"\u628A\u8FD9\u4E2A\u547D\u8FD0\u4F5C\u4E3A\u4E00\u79CD\
            \u5267\u672C, \u914D\u5408\u7740\u4ED6\u6F14, \u90A3\u4E48\\n - \u987A\
            \u98CE\u6765\u4E86\u5C31\u628A\u8239\u5E06\u5F20\u5230\u6700\u5927\\n\
            \ - \u9006\u98CE\u6765\u4E86\u5C31\u8EBA\u5E73\u97EC\u5149\u517B\u6666\
            \\n\u4F3C\u4E4E\u8FD9\u662F\u4E00\u4E2A\u5F88\u4E0D\u9519\u7684\u5E94\u5BF9\
            \u5267\u672C\u7684\u7B56\u7565\"\n\n**User actual input:**\n\"{{#sys.query#}}\""
        selected: false
        title: Refine
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1717330709963'
      position:
        x: 638
        y: 409
      positionAbsolute:
        x: 638
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-pro-latest
          provider: google
        prompt_template:
        - id: a3021cc5-6e83-4b07-9ef7-f008ddbf82d6
          role: system
          text: "You will receive a text generated by Whisper or a similar speech-to-text\
            \ AI from the role of user. There may be errors where words' pronunciation\
            \ correct but are incorrectly transcribed, or the text may go off-topic.\n\
            \n**Your task is to:**\n1. Correct any incorrect words or phrases while\
            \ maintaining the original sentence structure and overall flow of the\
            \ text.\n2. Preserve the original language of the text.\n3. For professional\
            \ terms, add their English annotations (in parentheses).\n4. \u200BKeep\
            \ original format especially numbers, punctuation and line breaks\n\n\
            **Example:**\n**User:**\n\"00:00 \u987A\u98CE\u5C31\u628A\u8239\u7684\u7FFB\
            \u957F\u5927\\n00:06 \u9006\u98CE\u5C31\u9003\u5149\u517B\u4F1A\"\n**You:**\n\
            \"00:00 \u987A\u98CE\u5C31\u628A\u8239\u5E06\u5F20\u5927)\\n00:06 \u9006\
            \u98CE\u5C31\u97EC\u5149\u517B\u6666\"\n\n**The user input is:**\"{{#sys.query#}}\""
        selected: false
        title: Fix
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1717330794954'
      position:
        x: 638
        y: 271
      positionAbsolute:
        x: 638
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: Output
        type: variable-aggregator
        variables:
        - - '1717330794954'
          - text
        - - '1717330709963'
          - text
      height: 138
      id: '1717330905521'
      position:
        x: 942
        y: 271
      positionAbsolute:
        x: 942
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1717390151934.result#}}'
        desc: ''
        selected: false
        title: Final output
        type: answer
        variables: []
      height: 107
      id: '1717330917492'
      position:
        x: 1550
        y: 271
      positionAbsolute:
        x: 1550
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: int) -> dict:\n    arg1 = arg1.strip()\n    arg1 =\
          \ arg1[1:] if arg1.startswith('\"') else arg1\n    arg1 = arg1[:-1] if arg1.endswith('\"\
          ') else arg1\n    return {\n        \"result\": arg1,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: true
        title: Punctuation Handling
        type: code
        variables:
        - value_selector:
          - '1717330905521'
          - output
          variable: arg1
      height: 54
      id: '1717390151934'
      position:
        x: 1246
        y: 271
      positionAbsolute:
        x: 1246
        y: 271
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -161.8385706355093
      y: 105.33724172443783
      zoom: 1.0610015965572788
